<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projeto Integrado.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Projeto Integrado", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-home"></span> Cadastros<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="@Url.Action("Cadastro", "Membro")"><span class="glyphicon glyphicon-home"></span> Membro</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Cadastro", "Usuario")"><span class="glyphicon glyphicon-home"></span> Usuario</a></li>
                                        <li><a href="@Url.Action("Cadastro", "Perfil")"><span class="glyphicon glyphicon-home"></span> Perfil</a></li>
                                        <li><a href="@Url.Action("Cadastro", "Funcao")"><span class="glyphicon glyphicon-home"></span> Funcao</a></li>
                                    </ul>
                                </li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("Cadastro", "Evento")"><span class="glyphicon glyphicon-home"></span> Evento</a></li>
                                <li><a href="@Url.Action("Cadastro", "Publico")"><span class="glyphicon glyphicon-home"></span> Público Alvo</a></li>
                                <li class="nav-divider"></li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="@Url.Action("Cadastro", "Produto")"><span class="glyphicon glyphicon-home"></span> Produto</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Cadastro", "Categoria")"><span class="glyphicon glyphicon-home"></span> Categoria</a></li>
                                        <li><a href="@Url.Action("Cadastro", "Marca")"><span class="glyphicon glyphicon-home"></span> Marca</a></li>
                                        <li><a href="@Url.Action("Cadastro", "Grupo")"><span class="glyphicon glyphicon-home"></span> Grupo</a></li>
                                        <li><a href="@Url.Action("Cadastro", "Local")"><span class="glyphicon glyphicon-home"></span> Local</a></li>
                                        <li><a href="@Url.Action("Cadastro", "UnidadeMedida")"><span class="glyphicon glyphicon-home"></span> Unidade de Medida</a></li>
                                    </ul>
                                </li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("Cadastro", "Fornecedor")"><span class="glyphicon glyphicon-home"></span> Fornecedor</a></li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("Pagamento", "Caixa")"><span class="glyphicon glyphicon-home"></span> Conta à Pagar</a></li>
                                <li><a href="@Url.Action("Tipo", "Caixa")"><span class="glyphicon glyphicon-home"></span> Tipo De Pagamento</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-home"></span> Operações<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Inventario", "Operacao")"><span class="glyphicon glyphicon-home"></span> Invetário de estoque</a></li>
                                <li><a href="@Url.Action("Entrada", "Produto")"><span class="glyphicon glyphicon-home"></span> Entrada de produtos</a></li>
                                <li><a href="@Url.Action("Saida", "Produto")"><span class="glyphicon glyphicon-home"></span> Saída de produtos</a></li>
                                <li><a href="@Url.Action("Lancamento", "Produto")"><span class="glyphicon glyphicon-home"></span> Lançamento de perda de produtos</a></li>
                                <li class="nav-divider"></li>
                                <li><a href="@Url.Action("Recebimento", "Caixa")"><span class="glyphicon glyphicon-home"></span> Conta à Receber</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-home"></span> Relatórios<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Estoque", "Relatorio")"><span class="glyphicon glyphicon-home"></span> Posição do estoque</a></li>
                                <li><a href="@Url.Action("Ressuprimento", "Relatorio")"><span class="glyphicon glyphicon-home"></span> Ressuprimento</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-home"></span> Gráficos<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Perdas", "Grafico")"><span class="glyphicon glyphicon-home"></span> Perdas por mês</a></li>
                                <li><a href="@Url.Action("EntradaSaida", "Grafico")"><span class="glyphicon glyphicon-home"></span> Entrada x Saída / Mês</a></li>
                            </ul>
                        </li>
                    </ul>
                    using (Html.BeginForm("Logout", "Usuario", FormMethod.Post, new { id = "logoutForm" }))
                    {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                        <li><a href="#">Olá @User.Identity.Name</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sair</a></li>
                    </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Sobre mim</a></li>
                        <li>@Html.ActionLink("Login", "Login", "Usuario")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projeto Integrado</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
